AddDefaultCharset UTF-8

AddType image/svg+xml svg
AddType image/svg+xml svgz

# Compresses Text, HTML, Javascript, CSS & XML:
AddOutputFilterByType DEFLATE text/plain
AddOutputFilterByType DEFLATE text/html
AddOutputFilterByType DEFLATE text/xml
AddOutputFilterByType DEFLATE text/css
AddOutputFilterByType DEFLATE application/xml
AddOutputFilterByType DEFLATE application/xhtml+xml
AddOutputFilterByType DEFLATE application/rss+xml
AddOutputFilterByType DEFLATE application/javascript
AddOutputFilterByType DEFLATE application/x-javascript

# 1 WEEK
#<FilesMatch "\.(ico|pdf|flv)$">
#Header set Cache-Control "max-age=604800, public"
#</FilesMatch>
#<FilesMatch "\.(jpg|jpeg|png|gif|swf)$">
#Header set Cache-Control "max-age=604800, public"
#</FilesMatch>
#<FilesMatch "\.(xml|txt|css|js)$">
#Header set Cache-Control "max-age=604800, proxy-revalidate"
#</FilesMatch>
# 1 MIN
#<FilesMatch "\.(html|htm|php)$">
#Header set Cache-Control "max-age=60, private, proxy-revalidate"
#</FilesMatch>