/*------------------------------------*\
    Typography
\*------------------------------------*/


body {font-family:Century Gothic, Verdana, sans-serif; color:#555; font-size:16px;}
@media screen and (min-width: 768px) {body{font-size:17px;}}
@media screen and (min-width: 1200px) {body{font-size:18px;}}

h1 {font-size:1.75em;}
h2 {font-size:1.5em;}
h3 {font-size:1.25em;}
h4 {font-size:1.1em; font-style:italic;}
h5 {font-size:.9em;}

a, a:link, a:visited, a:hover, a:active {color:#f60; text-decoration:none;}
a:hover {color:#990;}

blockquote {margin:1.5em 2em;}
